@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Alan Sans";
  src: url("/fonts/Alan_Sans/AlanSans-VariableFont_wght.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@theme {
  --font-costum: 'Alan Sans', 'Ubuntu', sans-serif;
}

@layer base {
  body {
    @apply font-costum text-sm;
  }
}

@layer utilities{
  /* navbar only */
  .navbar-icon {
    background-color: transparent !important;
    border: none !important;
    transition: transform 0.2s ease-in-out;
  }

  .navbar-icon:hover {
    transform: scale(0.9);
  }

  .navbar-icon:active {
    transform: scale(0.85);
    background-color: transparent !important;
    box-shadow: none !important;
  }

  /* global */
  .btn-press {
    transition: transform 0.2s ease-in-out;
  }
  .btn-press:hover {
    transform: scale(0.95);
  }
  .btn-press:active {
    transform: scale(0.9);
  }

  .menu {
    --menu-active-bg: #BCA88D;
    --menu-active-fg: white;
  }
  .btn-costum-1 {
    @apply px-3 py-0.5 text-[#F1F0E4] font-bold bg-[#3E3F29] rounded-4xl outline-2 outline-[#3E3F29]  transition-colors ease-in-out duration-300 hover:bg-[#3E3F29] hover:text-[#3E3F29] hover:cursor-pointer focus:outline-2 focus:outline-[#3E3F29];
  }
  .badge-costum {
    padding-inline: 0.25rem !important; /* defaultnya sekitar 0.5rem */
    height: 1.25rem !important; /* opsional: kecilkan tinggi juga */
  }
}